/*@import "tailwindcss";*/
/* AntdV v4 版本的 StyleProvider 不支持 layer 配置，layer 不生效，无法通过调整 layer 来覆盖 AntdV 的样式*/

@import "ant-design-vue/dist/reset.css" layer(reset);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "simplebar-vue/dist/simplebar.min.css" layer(simplebar);
@import "vue-data-ui/style.css";
@import "jobsys-newbie/dist/jobsys-newbie.css";

@layer utitlities, theme, reset;


html, body {
	background-color: #f0f2f5 !important;
}

/**
 * Temporary fix antd modal issue
 */
.ant-modal div[aria-hidden="true"] {
	display: none !important;
}

.block-tips {
	@apply bg-gray-100 px-6 py-3 mb-6 rounded font-bold border-l-2 border-solid border-red-600;
}

.simplebar-scrollbar::before {
	background-color: #FFF;
}

.newbie-form__form-item-help {
	white-space: pre-line;
}

.hover-card {
	@apply shadow rounded-lg transition-all duration-200 ease-in-out;
}

.hover-card:hover {
	@apply shadow-lg;
}

.nav-card {
	@apply mb-4! shadow bg-gray-50! border-2! border-gray-50! hover:border-orange-400! hover:bg-white! transition-all duration-200 ease-in-out hover:shadow-lg;
}

.nav-card:hover .anticon, .nav-card:hover .lucide {
	@apply text-orange-500! transition-all duration-200 ease-in-out;
}

.focus-card {
	@apply mb-4! shadow! border-2! border-orange-400!;
}

